_history
*Version.Res
*.$manifest
__recovery
__history
*.ficfg
*.identcache
*.tvsconfig
*.otares
*.local
*.stat
*.cfg
*.dof
*.ddp
*.dpl
*.bpl
*.bpi
*.btl
*.dsk
*.vlb
*.dcu
*.hpp
*.xml
*.bak
*.vrc
*.~*
Win32
Win64
